.nasaImg {
  margin-left: 5%;
  float: left;
}

.weatherResults {
  display:flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
  
}

.eventCentral {
  border: red 2px solid;
  /* text-align:right; */
  float: right;
  margin-right: 5%;
}