.nasaImg {
  margin: 4% 7% 0%;
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.weatherResults {
  display:flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}

.eventCentral {
  width: 33%;
  height: auto;
  float: right;
  margin: 5% 7% 0%;
  background-color: indigo;
  color:lightgoldenrodyellow;
  text-align: center;
}