.nasaImg {
  margin: 4% 7% 0%;
  float: left;
}

.weatherResults {
  display:flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}

.eventCentral {
  width: 33%;
  height: auto;
  float: right;
  margin: 5% 7% 0%;
  background-color: indigo;
  color:lightgoldenrodyellow;
  text-align: center;
}